Source: python-mimeparse
Section: python
Priority: optional
Maintainer: Mathias Ertl <mati@restauth.net>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), python-all (>= 2.6.6-3~), python3-all
XS-Python-Version: >= 2.6
Homepage: https://code.google.com/p/mimeparse/
Vcs-Browser: https://git.fsinf.at/apt/python-mimeparse
Vcs-Git: https://git.fsinf.at/apt/python-mimeparse.git

Package: python-mimeparse
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Parse mime-types and quality parameters
 This module provides basic functions for parsing mime-type names and
 matching them against a list of media-ranges.
 .
 See section 14.1 of RFC 2616 (the HTTP specification)
 for a complete explanation.

Package: python3-mimeparse
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Parse mime-types and quality parameters
 This module provides basic functions for parsing mime-type names and
 matching them against a list of media-ranges.
 .
 See section 14.1 of RFC 2616 (the HTTP specification)
 for a complete explanation.
